$blue-700: #1d4ed8;
.wrap {
  max-width: 100rem;
  width: 100%;
  margin: auto;
  height: 6rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  nav {
    font-size: 1.4rem;
    position: absolute;
    cursor: pointer;
  }

  button {
    right: 0;
    position: absolute;
    background-color: $blue-700;
    width: 8rem;
    height: 3.2rem;
    border-radius: 0.8rem;
  }
}
