@import "../../styles/colors.scss";

.wrap {
  background-color: $blue-100;
  width: 100%;
  padding: 0 2rem;

  .container {
    max-width: 100rem;
    font-size: 1.6rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 6rem;

    nav {
      font-size: 1.4rem;
      position: absolute;
      cursor: pointer;
    }

    button {
      right: 0;
      position: absolute;
      background-color: $blue-700;
      width: 8rem;
      height: 3.2rem;
      border-radius: 0.8rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .wrap {
    button {
      display: none;
    }
  }
}
