@import "../../styles/colors.scss";

.wrap {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100rem;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10rem;
  margin-top: 10rem;

  .content {
    display: flex;
    flex-direction: column;
    max-width: 41.3rem;
    height: 100%;
    align-self: center;

    h2 {
      font-size: 3.2rem;
      color: $blue-700;
      font-weight: bolder;
      margin-bottom: 0;
    }

    p {
      font-size: 2.4rem;
      font-weight: lighter;
      text-align: left;
    }
  }
}

@media screen and (max-width: 765px) {
  .wrap {
    margin-top: 10rem;
    .content {
      margin-bottom: 10rem;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }
}
