.wrap {
  width: 90%;
  .carousel {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    div {
      margin: 1.5rem;
    }
  }
}
