@import "../../styles/colors.scss";


.wrap {
  width: 100%;
  background-color: $blue-900;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  .wrap_call {
    padding: 5rem;
    max-width: 100rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 21rem;
    flex-wrap: wrap;
    p {
      width: 50rem;
      text-align: center;
      margin: 5rem;
      font-size: 2.2rem;
      color: $white;
    }
  }

  .copy {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8.7rem;
    background: #d9d9d9;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 500px) {
  .wrap {
    .wrap_call {
      padding: 1rem;
      padding-bottom: 3rem;
      p {
        font-size: 1.6rem;
        margin: 2rem;
      }
    }
    .copy {
      height: 5rem;
      font-size: 1.2rem;
    }
  }
}
